PORT=3000
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
TAXONOMY_SERVICE_URL=http://localhost:3003
MCQ_SERVICE_URL=http://localhost:3004
EXAM_SERVICE_URL=http://localhost:3005
